<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iqiaoxu.user.train.dao.EmergencyContactMapper">
    <resultMap id="emergencyContactMap" type="EmergencyContact">
        <id property="id" jdbcType="VARCHAR" column="emergency_id"/>
        <result property="userIdNo" jdbcType="VARCHAR" column="user_idno"/>
        <result property="name" jdbcType="VARCHAR" column="emergency_name"/>
        <result property="address" jdbcType="VARCHAR" column="emergency_address"/>
        <result property="tel" jdbcType="VARCHAR" column="emergency_tel"/>
    </resultMap>
    <select id="selectEmergencyContact" resultMap="emergencyContactMap">
        SELECT *
        FROM `emergencycontact`
        WHERE (`emergency_id` = #{id});
    </select>
    <select id="selectEmergencyContacts" resultMap="emergencyContactMap">
        SELECT *
        FROM `emergencycontact`
        WHERE `user_idno` = #{idno};
    </select>
    <insert id="insertEmergencyContacts" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `emergencycontact` (`user_idno`, `emergency_name`, `emergency_address`, `emergency_tel`) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userIdNo},#{item.name},#{item.address},#{item.tel})
        </foreach>
    </insert>
    <update id="updateEmergencyContact" parameterType="EmergencyContact">
        UPDATE `emergencycontact`
        SET `emergency_name`    = #{name},
            `emergency_address` = #{address},
            `emergency_tel`     = #{tel}
        WHERE emergency_id = #{id};
    </update>
    <delete id="deleteEmergencyContact">
        DELETE
        FROM `emergencycontact`
        WHERE `emergency_id` = #{id};
    </delete>
</mapper>